.Hello{
padding:100px 100px;
text-align:center;
display: flex;
flex-direction: column;
gap:15px;
align-items:center;
}

.hii{
    border-width:3px; 
    border-style:solid; 
    border-color:green;
}

.blocks{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    gap:15px;
}

.menuitem{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding-bottom:100px;
}