.Hello{
padding:100px 100px;
text-align:center;
display: flex;
flex-direction: column;
gap:7gpx;
align-items:center;

}

.menuitem{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding-bottom:100px;
}

.text{
    text-align:center;
    font-family:system ui;
}

.Intro{
   text-align:center;
}
.history{
   padding-top:30px;
}

.photo1{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%; 
    padding-top:15px;
}

.mac{
    width:30%;
}

.hii{
    margin-top:20px;
    border-width:3px; 
    border-style:solid; 
    border-color:green;
}

.Phase1{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    gap:15px;
}

.Phase2{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    gap:15px;
}

.Phase3{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    gap:15px;
}

.Phase4{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    gap:15px
}
